@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

body {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

quran-madina-html {
    --qmh-header: #689F38 !important;
    --qmh-background: #F5F5F5 !important;
}
